body {
  padding: 50px;
  background-image: url("https://thumbs.gfycat.com/CooperativeSinfulFieldmouse-small.gif");
}

h1 {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 80px;
  color: red;
  text-decoration-line: underline;
  text-shadow: 4px 4px coral;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  width: 165px;
}

.todoListMain .header button {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: red;
  color: white;
  border: 2px solid red;
}

.todoListMain .header button:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: darkred;
  border: 2px solid darkred;
  cursor: pointer;
}

.todoListMain .theList li {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  transition: background-color 0.2s ease-out;
}

.todoListMain .theList li:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: coral;
  cursor: pointer;
}

ul.theList {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}
